
/* Tokyo Dark Theme for Waybar */

* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font;  
    font-size: 11px;
    min-height: 0;
}

window#waybar {
    background: #1a1b26;  
    color: #c0caf5;       
    border-bottom: 1px solid #414868;
}

#workspaces button {
    padding: 0 3px;
    margin: 5px;
    background: #24283b;  
    border-radius: 2px;
    color: #c0caf5;
}

#workspaces button.active {
    background: #7aa2f7;  
    color: #1a1b26;
}

#workspaces button.urgent {
    background: #f7768e;  
}

#window {
    color: #a9b1d6;  
    padding: 0 10px;
}


#clock {
    background: #24283b;  
    color: #b0a1d4;       
    margin: 5px;
    border-radius: 2px;
    padding: 0 10px;
}

#cpu {
    background: #24283b;  
    color: #c7b587;       
    padding: 0 10px;
    margin: 5px;
    border-radius: 2px;
}

#cpu.warning {
    color: #e0af68;  
}

#cpu.critical {
    color: #f7768e;  
}

#network {
    background: #24283b;  
    color: #9eb0d9;       
    padding: 0 10px;
    margin: 5px;
    border-radius: 2px;
}

#network.disconnected {
    color: #f7768e;  
}

#pulseaudio {
    background: #24283b;  
    color: #9abcb7;       
    padding: 0 10px;
    margin: 5px;
    border-radius: 2px;
}

#battery {
    background: #24283b;  
    color: #a5b98e;       
    padding: 0 10px;
    margin: 5px;
    border-radius: 2px;
}

#battery.warning {
    color: #e0af68;  
}

#battery.critical {
    color: #f7768e;  
}

#tray {
    padding: 0 10px;
}

#custom-logo {
    padding: 0 15px 0px 12px;
    color: #7aa2f7;  
    font-size: 16px;
}

tooltip {
    background: #24283b;  
    border: 1px solid #414868;
    color: #c0caf5;
}
